@import url('./colors.css');
@import url('./typeography.css');
@import url('./spacing.css');
@import url('./breakpoints.css');
@import url('./shadows.css');
@import url('./blur.css');
@import url('./radii.css');
@import url('./z-index.css');
@import url('./sizes.css');

:root {
  color-scheme: dark;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-size: 97.5%;;
}


h1, h2, h3, h4, h5, h6 {
  color: var(--white-alpha-900)
}

h1 {
  font-size: var(--font-size-6xl);
  font-weight: var(--font-weight-black);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h2 {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h3 {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h4 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h5 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h6 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

p {
  font-size: var(--font-size-md);
  color: var(--white-alpha-700);
  font-weight: var(--font-weight-light);
  line-height: var(--leading-taller);
}